.searchBar {
  display: flex;
  justify-content: space-between;
}

.searchBar .searchInput {
  margin-right: 10px;
}

.searchBar .yearSelect {
  margin-right: 10px;
}

.searchBar .searchButton {
}

.advancedSearchOptions {
  margin-top: 15px;
  justify-content: space-between;
  display: none;
}

.show {
  display: flex;
}


.advancedSearchButton {
  display: flex;
}
